<a href="https://colab.research.google.com/github/Vaibhav911/Rainfall-Pattern-Analysis/blob/master/Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import Data File from github

In [30]:
url = "https://raw.githubusercontent.com/Vaibhav911/Rainfall-Pattern-Analysis/master/Sub_Division_IMD_2017.csv"
data = pd.read_csv(url)
data

                    SUBDIVISION  YEAR   JAN    FEB  ...     JF    MAM    JJAS    OND
0     Andaman & Nicobar Islands  1901  49.2   87.1  ...  136.3  560.3  1696.3  980.3
1     Andaman & Nicobar Islands  1902   0.0  159.8  ...  159.8  458.3  2185.9  716.7
2     Andaman & Nicobar Islands  1903  12.7  144.0  ...  156.7  236.1  1874.0  690.6
3     Andaman & Nicobar Islands  1904   9.4   14.7  ...   24.1  506.9  1977.6  571.0
4     Andaman & Nicobar Islands  1905   1.3    0.0  ...    1.3  309.7  1624.9  630.8
...                         ...   ...   ...    ...  ...    ...    ...     ...    ...
4183                Lakshadweep  2013  26.2   34.4  ...   60.6  131.1  1057.0  177.6
4184                Lakshadweep  2014  53.2   16.1  ...   69.3   76.7   958.5  290.5
4185                Lakshadweep  2015   2.2    0.5  ...    2.7  223.9   860.9  555.4
4186                Lakshadweep  2016  59.6   12.1  ...   71.7   83.2   745.4  165.4
4187                Lakshadweep  2017  21.3    0.9  ...   22.2  247.8  1108.3  360.7

[4188 rows x 19 columns]

In [31]:
months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC' ,'JF', 'MAM', 'JJAS', 'OND', 'YEAR']
subdivs = data.SUBDIVISION.unique()
print(subdivs)

['Andaman & Nicobar Islands' 'Arunachal Pradesh' 'Assam & Meghalaya'
 'Naga Mani Mizo Tripura' 'Sub Himalayan West Bengal & Sikkim'
 'Gangetic West Bengal' 'Orissa' 'Jharkhand' 'Bihar' 'East Uttar Pradesh'
 'West Uttar Pradesh' 'Uttarakhand' 'Haryana Delhi & Chandigarh' 'Punjab'
 'Himachal Pradesh' 'Jammu & Kashmir' 'West Rajasthan' 'East Rajasthan'
 'West Madhya Pradesh' 'East Madhya Pradesh' 'Gujarat Region'
 'Saurashtra & Kutch' 'Konkan & Goa' 'Madhya Maharashtra' 'Matathwada'
 'Vidarbha' 'Chhattisgarh' 'Coastal Andhra Pradesh' 'Telangana'
 'Rayalseema' 'Tamil Nadu' 'Coastal Karnataka' 'North Interior Karnataka'
 'South Interior Karnataka' 'Kerala' 'Lakshadweep']

*Median* of each region for each month. 
<br>
Here, each column refers to a region. And each row refers to a time-frame as ordered in ***months*** variable. 
<br>
<br>
**Note**: All the means are calculated ignoring **NaN**

In [32]:
data_median = {}
for div in subdivs:
  region_median = []
  for month in months:
    region_median.append(round(data[data["SUBDIVISION"] == div][month].median(), 2)) #doing round off till 2 digits
  data_median[div] = region_median
pd.DataFrame(data_median)

    Andaman & Nicobar Islands  Arunachal Pradesh  ...  Kerala  Lakshadweep
0                       32.10              38.90  ...     6.0        13.80
1                       12.65              85.15  ...     8.4         4.10
2                       12.15             139.90  ...    28.3         5.30
3                       54.80             246.90  ...   108.4        32.15
4                      317.30             306.90  ...   190.6       145.85
5                      450.25             530.55  ...   625.8       326.15
6                      379.50             609.35  ...   687.3       271.50
7                      376.40             400.00  ...   385.2       198.10
8                      428.80             383.70  ...   223.9       156.00
9                      276.35             172.70  ...   282.6       154.30
10                     229.95              25.40  ...   153.0       107.85
11                     115.20              15.70  ...    31.1        42.55
12                      60.65             124.90  ...    20.5        22.40
13                     429.60             730.40  ...   342.0       206.95
14                    1681.00            2155.20  ...  1947.5       971.60
15                     653.90             222.40  ...   500.8       345.65
16                    1961.50            1968.00  ...  1959.0      1959.50

[17 rows x 36 columns]

In [41]:
count = 0
month_num = 0
for index, row in data.iterrows():
  month_num = 0
  for month in months:
    if pd.isnull(data.iloc[index][month]):
      data.at[index, month] = data_median[row['SUBDIVISION']][month_num]
    month_num += 1

# printing data with missing values filled as median
data

                    SUBDIVISION  YEAR   JAN    FEB  ...     JF    MAM    JJAS    OND
0     Andaman & Nicobar Islands  1901  49.2   87.1  ...  136.3  560.3  1696.3  980.3
1     Andaman & Nicobar Islands  1902   0.0  159.8  ...  159.8  458.3  2185.9  716.7
2     Andaman & Nicobar Islands  1903  12.7  144.0  ...  156.7  236.1  1874.0  690.6
3     Andaman & Nicobar Islands  1904   9.4   14.7  ...   24.1  506.9  1977.6  571.0
4     Andaman & Nicobar Islands  1905   1.3    0.0  ...    1.3  309.7  1624.9  630.8
...                         ...   ...   ...    ...  ...    ...    ...     ...    ...
4183                Lakshadweep  2013  26.2   34.4  ...   60.6  131.1  1057.0  177.6
4184                Lakshadweep  2014  53.2   16.1  ...   69.3   76.7   958.5  290.5
4185                Lakshadweep  2015   2.2    0.5  ...    2.7  223.9   860.9  555.4
4186                Lakshadweep  2016  59.6   12.1  ...   71.7   83.2   745.4  165.4
4187                Lakshadweep  2017  21.3    0.9  ...   22.2  247.8  1108.3  360.7

[4188 rows x 19 columns]

### Stratified sampling with replacement.
Here, 40 values are taken randomly from each subdivision with replacement

In [34]:
strat_data = []
for div in subdivs:
  strat_data.append((data[data.SUBDIVISION == div]).sample(n=40, replace=True))
strat_data = pd.concat(strat_data)
strat_data

                    SUBDIVISION  YEAR   JAN    FEB  ...     JF    MAM    JJAS    OND
5     Andaman & Nicobar Islands  1906  36.6    0.0  ...   36.6  556.1  1465.8  475.9
28    Andaman & Nicobar Islands  1930  87.4  105.4  ...  192.8  373.6  1975.4  533.3
76    Andaman & Nicobar Islands  1982   8.8    2.8  ...   11.6  333.3  1575.8  463.8
94    Andaman & Nicobar Islands  2000  53.0   59.0  ...  112.0  812.2  1244.2  594.7
4     Andaman & Nicobar Islands  1905   1.3    0.0  ...    1.3  309.7  1624.9  630.8
...                         ...   ...   ...    ...  ...    ...    ...     ...    ...
4091                Lakshadweep  1921  37.6    0.0  ...   37.6  255.5   971.6  373.6
4080                Lakshadweep  1909  70.4    0.0  ...   70.4  175.0   800.3  417.8
4118                Lakshadweep  1948  70.0    5.7  ...   75.7  138.4   601.8  509.4
4086                Lakshadweep  1915   0.0    0.0  ...    0.0  216.7   943.1  385.7
4137                Lakshadweep  1967   7.8    2.7  ...   10.5  148.3   978.6  149.9

[360 rows x 19 columns]

### Min-Max Normalization
**Note**: *Normalization is done on a copy data set*

In [35]:
data_norm = data.copy()
data_monthly_only = data_norm[months]
data_norm[months] = (data_monthly_only - data_monthly_only.min()) / (data_monthly_only.max() - data_monthly_only.min())
data_norm

                    SUBDIVISION      YEAR  ...      JJAS       OND
0     Andaman & Nicobar Islands  0.000000  ...  0.365867  0.782675
1     Andaman & Nicobar Islands  0.008621  ...  0.475165  0.572216
2     Andaman & Nicobar Islands  0.017241  ...  0.405536  0.551377
3     Andaman & Nicobar Islands  0.025862  ...  0.428664  0.455888
4     Andaman & Nicobar Islands  0.034483  ...  0.349927  0.503633
...                         ...       ...  ...       ...       ...
4183                Lakshadweep  0.965517  ...  0.223150  0.141796
4184                Lakshadweep  0.974138  ...  0.201161  0.231936
4185                Lakshadweep  0.982759  ...  0.179373  0.443433
4186                Lakshadweep  0.991379  ...  0.153589  0.132056
4187                Lakshadweep  1.000000  ...  0.234602  0.287984

[4188 rows x 19 columns]

### State-wise aggregation of dataset
For each subdivision, mean is taken for all the years are aggregated into one.

In [36]:
data_aggr = []
for div in subdivs:
  data_aggr.append(data[data['SUBDIVISION'] == div][months].mean())
data_aggr = pd.DataFrame(data_aggr)
data_aggr.insert(0, 'SUBDIVISION', subdivs)
data_aggr

                           SUBDIVISION         JAN  ...         OND         YEAR
0            Andaman & Nicobar Islands   54.382143  ...  678.093750  1959.946429
1                    Arunachal Pradesh   46.637374  ...  252.702020  1966.848485
2                    Assam & Meghalaya   16.860684  ...  188.353846  1959.000000
3               Naga Mani Mizo Tripura   13.864957  ...  235.107692  1959.000000
4   Sub Himalayan West Bengal & Sikkim   14.045299  ...  165.763248  1959.000000
5                 Gangetic West Bengal   12.476923  ...  143.565812  1959.000000
6                               Orissa   12.152137  ...  147.174359  1959.000000
7                            Jharkhand   17.471795  ...   96.519658  1959.000000
8                                Bihar   13.242735  ...   73.638462  1959.000000
9                   East Uttar Pradesh   15.866667  ...   52.629915  1959.000000
10                  West Uttar Pradesh   17.570085  ...   39.277778  1959.000000
11                         Uttarakhand   53.236752  ...   68.441880  1959.000000
12          Haryana Delhi & Chandigarh   16.893162  ...   22.976923  1959.000000
13                              Punjab   25.232479  ...   30.370085  1959.000000
14                    Himachal Pradesh   84.257265  ...   86.905128  1959.000000
15                     Jammu & Kashmir  102.764957  ...  112.702137  1959.000000
16                      West Rajasthan    3.323077  ...    8.727350  1959.000000
17                      East Rajasthan    6.389744  ...   22.807692  1959.000000
18                 West Madhya Pradesh    9.167521  ...   46.409402  1959.000000
19                 East Madhya Pradesh   19.282051  ...   60.175214  1959.000000
20                      Gujarat Region    1.755556  ...   29.141026  1959.000000
21                  Saurashtra & Kutch    1.120513  ...   21.952137  1959.000000
22                        Konkan & Goa    1.241026  ...  142.629915  1959.000000
23                  Madhya Maharashtra    3.002564  ...  101.843590  1959.000000
24                          Matathwada    4.915385  ...   88.572650  1959.000000
25                            Vidarbha   10.390598  ...   75.497436  1959.000000
26                        Chhattisgarh   14.023932  ...   80.505983  1959.000000
27              Coastal Andhra Pradesh    7.377778  ...  272.535897  1959.000000
28                           Telangana    7.581197  ...   99.522222  1959.000000
29                          Rayalseema    9.800000  ...  270.457265  1959.000000
30                          Tamil Nadu   23.752137  ...  438.477778  1959.000000
31                   Coastal Karnataka    1.902991  ...  258.965812  1959.000000
32            North Interior Karnataka    2.964103  ...  130.574359  1959.000000
33            South Interior Karnataka    2.952137  ...  203.824786  1959.000000
34                              Kerala   12.171795  ...  494.484615  1959.000000
35                         Lakshadweep   27.481897  ...  353.291379  1959.353448

[36 rows x 18 columns]

### Discretization

In [43]:
discretized_df=data.copy()
k=3
temp=0
sub_divs=data['SUBDIVISION'].unique()
#print(sub_divs)
for div in sub_divs:
  temp_df=data.loc[data['SUBDIVISION'] == div]
  for i in data.columns:
    if i=='SUBDIVISION' or i=='YEAR':
      continue
    #print(i)
    max_val=temp_df[i].max()
    min_val=temp_df[i].min()
    delta=(max_val-min_val)/3
    for j in range(temp_df.shape[0]):
      if(discretized_df.loc[j+temp,i]<=min_val+delta):
        discretized_df.loc[j+temp,i]='low'
      elif(discretized_df.loc[j+temp,i]<=min_val+2*delta):
        discretized_df.loc[j+temp,i]='medium'
      else:
        discretized_df.loc[j+temp,i]='high'
  temp+=temp_df.shape[0]

#printing discretized data
discretized_df

                    SUBDIVISION  YEAR  JAN     FEB  ...   JF     MAM    JJAS     OND
0     Andaman & Nicobar Islands  1901  low  medium  ...  low  medium  medium    high
1     Andaman & Nicobar Islands  1902  low    high  ...  low     low    high  medium
2     Andaman & Nicobar Islands  1903  low    high  ...  low     low  medium  medium
3     Andaman & Nicobar Islands  1904  low     low  ...  low  medium  medium     low
4     Andaman & Nicobar Islands  1905  low     low  ...  low     low     low     low
...                         ...   ...  ...     ...  ...  ...     ...     ...     ...
4183                Lakshadweep  2013  low     low  ...  low     low  medium     low
4184                Lakshadweep  2014  low     low  ...  low     low  medium     low
4185                Lakshadweep  2015  low     low  ...  low     low     low  medium
4186                Lakshadweep  2016  low     low  ...  low     low     low     low
4187                Lakshadweep  2017  low     low  ...  low     low  medium  medium

[4188 rows x 19 columns]

### Noise Reduction

In [42]:
no_of_intervals=10
without_noise_df=data.copy()
temp=0
sub_divs=without_noise_df['SUBDIVISION'].unique()
for div in sub_divs:
  temp_df=data.loc[data['SUBDIVISION'] == div]
  for i in months:
    if i=='SUBDIVISION' or i=='YEAR':
      continue
    lis=temp_df[i].tolist()
    lis.sort()
    median=[]
    num=temp_df.shape[0]//no_of_intervals+1
    start=0
    end=num
    for k in range(no_of_intervals-1):
      median.append(np.median(lis[start:end+1]))
      start=end+1
      end+=num
    median.append(lis[start:])
    for j in range(temp_df.shape[0]):
      temp1=lis.index(without_noise_df.loc[j+temp,i])
      without_noise_df.loc[j+temp,i]=median[temp1//(num+1)]
  temp+=temp_df.shape[0]

#printing 
without_noise_df

                    SUBDIVISION  YEAR    JAN  ...     MAM     JJAS      OND
0     Andaman & Nicobar Islands  1901  50.05  ...  537.45  1681.00  865.650
1     Andaman & Nicobar Islands  1902   0.00  ...  429.60  2158.55  692.800
2     Andaman & Nicobar Islands  1903  11.90  ...  200.90  1805.80  692.800
3     Andaman & Nicobar Islands  1904   7.25  ...  478.55  1932.25  556.900
4     Andaman & Nicobar Islands  1905   0.00  ...  307.05  1608.95  603.550
...                         ...   ...    ...  ...     ...      ...      ...
4183                Lakshadweep  2013  22.50  ...  132.65  1011.45  149.900
4184                Lakshadweep  2014  44.05  ...   56.90   971.05  259.650
4185                Lakshadweep  2015   2.05  ...  222.25   878.25  496.850
4186                Lakshadweep  2016  44.05  ...   56.90   787.25  149.900
4187                Lakshadweep  2017  17.80  ...  222.25  1082.90  343.175

[4188 rows x 19 columns]